{% extends 'main.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="container">

{% if user.is_authenticated %}
          <form method="post" action="{% url 'auth:logout' %}">
            {% csrf_token %}
           <button class="btn btn-md btn-danger" type="submit">Logout</button>
          </form>
          
{% else %}
          <a class="btn btn-md btn-success" href="{% url 'auth:login' %}">Login</a>
{% endif %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About the project</h1>
  </div>
  <ul>
    <li>
      Manage your incomes and expenditures.
    </li>
    <li>
      Perform CRUD operations.
    </li>
    <li>
      Set your preferred currency in settings.
    </li>
  </ul>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">More Features</h1>
  </div>
  <ul>
    <li>
      User Authentication by email.
    </li>
    <li>
      Intreactive charts for data Visualisation.
    </li>
    <li>
      Export data in csv format.
    </li>
  </ul>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Technologies Used</h1>
</div>
<ul>
  <li>
    Django in backend.
  </li>
  <li>
    Bootstrap, javascript in frontend.
  </li>
  <li>
    Postgresql for database.
  </li> <li>
    Custom API for data retrival.
  </li>
</ul>
<a href="https://drive.google.com/file/d/1nhx3-DIL4mVkgitD-dAZo4eIWN8jAdH4/view?usp=sharing" class="button btn btn-md btn-outline-danger">Demo Video</a>
</div>
{% endblock content %}